<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Con" connectionString="server=localhost;database=Lab_3;Trusted_Connection=True"/>
    <!--<add name="Con" connectionString="Data Source=DESKTOP-QO3JRCN, Initial Context=Lab_3; Trusted_Connection=true"/>-->
  </connectionStrings>
</configuration>